<html>
    <head>
        <title>Winds Digest</title>
    </head>
    <body>
        Winds<br/>
        <%= user.username %>'s Digest
        <br /><br />

        <h3>top episodes for you</h3>

        <% for(const e of episodes) { %>
            <%= e.title %>
            <%= e.link %>
        <% } %>

        <h3>top stories for you</h3>

        <% for(const article of articles) { %>
            <%= article.title %>
            <%= article.link %>
            <%= article.getUrl() %>
        <% } %>

        <h3>follow suggestions</h3>
        <% for(const podcast of podcasts) { %>
            <%= podcast.title %>
            <%= podcast.feedUrl %>
            <%= podcast.getUrl() %>
        <% } %>
        <% for(const r of rss) { %>
            <%= r.title %>
            <%= r.feedUrl %>
            <%= r.getUrl() %>
        <% } %>

        <h3>stats about winds</h3>
        Users: <%= counts.users %>
        Articles: <%= counts.articles %>
        Episodes: <%= counts.episodes %>
        RSS feeds: <%= counts.rss %>
        Podcast feeds: <%= counts.podcast %>

        Happy Procrastination,<br />
        <a href="https://twitter.com/nickparsons" target="_blank">@nickparsons</a>, <a href="https://twitter.com/ken_hoff" target="_blank">@kenhoff</a>, <a href="https://twitter.com/uijudo" target="_blank">@joshtilton</a> and <a href="https://twitter.com/tschellenbach" target="_blank">@tschellenbach</a>
    </body>
</html>
